# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# IDE and editors
.idea/
.vscode/

# Testing
.pytest_cache/

# Distribution / packaging
*.egg-info/
dist/
build/
*.spec

# Coverage reports
htmlcov/
.coverage

# OS files
.DS_Store
Thumbs.db